/* =======================================================================
## ++ Globals
========================================================================== */
html{
  font-size: 100%;
}

body{
  @include quicksand;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  font-size: $base-font-size;
  background-image: url(http://watch-learn.com/themes/olympos/assets/images/bg-abstract.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 50px;
  min-height: 100vh;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #111;
  padding-top: 15px;
}

*{
  box-sizing:border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.filter{
  padding: 40px;
  background: #efefef;
  margin-bottom:40px;
}

pre {
  color: #FFF;
  padding: 20px;
  background-color: #1D1F21;
  background-image: url('../images/code-bar-center.png');
  background-size: auto 22px;
  background-position: top center;
  padding-top: 45px;
  background-repeat: repeat-x;
  position: relative;
  z-index: 1;
  border-radius: 5px;

  &:before,
  &:after {
    height: 22px;
    background-size: auto 22px;
    background-position: top center;
    padding-top: 45px;
    background-repeat: repeat-x;
    position: absolute;
    z-index: 2;
    top: 0;
    content: "";
  }

  &:before {
    width: 76px;
    background-image: url('../images/code-bar-left.png');
    left: 0;
  }

  &:after {
    width: 48px;
    background-image: url('../images/code-bar-right.png');
    right: 0;
  }
}

/* =======================================================================
## ++ Cleafix
========================================================================== */

/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.clr{clear:both;}

.overlay--dark {
  position: relative;

  &:before {
    position: absolute;
    content: "";
    background-color: #212529;
    opacity: .4;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
  }
}
