<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Website chia sẻ bài viết, kinh nghiệm và trao đổi kiến thức về Front-end Việt Nam">
  <meta name="keywords" content="Front-end, blog, template, html, twig, mustache, css, sass, scss, less, js, javascipt, jQuery, angular Js, react Js, Vue Js, Việt Nam">
  <meta property="og:url"                content="http://css-vn.com" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="Blog chính thức của CSS-VN | Front-end Việt Nam" />
  <meta property="og:description"        content="Website chia sẻ bài viết, kinh nghiệm và trao đổi kiến thức về Front-end Việt Nam" />
  <meta property="og:image"              content="http://css-vn.com/images/banner.png" />
  <title>CSS-VN | Front-end Developer Việt Nam</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
  <div id="app">
    <nav id="mainNav" class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="container">
        <a href="/" v-on:click="tagFilter = 'feb'" class="navbar-brand">CSS-VN</a>
        <div class="" id="navbarText">
          <ul class="navbar-nav mr-auto">
          </ul>
          <span class="navbar-text">
            <a class="feature__link cta-button" target="_blank" href="https://www.facebook.com/groups/144961856150835/" title="Join CSS-VN group on Facebook">
              <span>Tham gia Group CSS-VN</span>
            </a>
          </span>
        </div>
      </div>
    </nav>
    <div id="main-content" class="main-content">
      <router-view></router-view>
    </div>
  </div>

  <footer>
    <p class="text-center text-light">
      2018 © <a href="https://css-vn.com">css-vn.com</a>
    </p>
  </footer>

  <template id="blog-list-template">
    <div class="feature-baner text-center">
      <h1 class="feature-baner__title" v-show="!tagFilter">Front-end Developer Việt Nam</h1>
      <h1 class="feature-baner__title" v-show="tagFilter">Bài viết về {{ tagFilter.replace('/topic/', '').toUpperCase() }}</h1>
    </div>
    <div class="video-list container" v-show="!blog">
      <div class="article">
        <div class="article__item" v-for="blog in blogs | filterBy tagFilter">
          <a class="article__image" v-link="{ name: 'blog', params: {blogID: blog.nid[0].value }}" title="{{ blog.title[0].value }}" style="background-image: url({{ blog.field_image[0].url }})">
            <img v-bind:src="blog.field_image[0].url" v-bind:alt="blog.title[0].value">
          </a>
          <div class="article__content">
            <h2 class="article__title">
              <a v-link="{ name: 'blog', params: {blogID: blog.nid[0].value }}">{{ blog.title[0].value }}</a>
            </h2>
            <div class="article__text">
              {{{ blog.body[0].value | truncate 300 }}}
            </div>
            <span class="article__meta tag">
              <a v-for="tag in blog.field_tags"  v-on:click="tagFilter = tag.url"  v-link="{ name: 'tag', params: {tagID: tag.url.replace('/topic/', '') }}" class="tag__item">{{ tag.url.replace('/topic/', '') }}</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </template>

  <template id="single-blog-template">
    <div class="article single" v-show="blog">
      <div class="article__item" v-for="blogItem in blog">
        <div class="article__image text-center overlay--dark" title="{{ blogItem.title[0].value }}" style="background-image: url({{ blogItem.field_image[0].url }})">
          <img v-bind:src="blogItem.field_image[0].url" v-bind:alt="blogItem.field_image[0].alt">
          <div class="article__heading">
            <div class="container">
              <h1>{{ blogItem.title[0].value }}</h1>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="article__content">
            <div class="article__video" v-if="blogItem.field_video[0].value">
              <iframe src="https://www.youtube.com/embed/{{ blogItem.field_video[0].value }}"></iframe>
            </div>
            <div class="article__text">
              {{{ blogItem.body[0].value }}}
            </div>
            <span class="article__meta tag">
              <a v-for="tag in blogItem.field_tags"  v-on:click="tagFilter = tag.url"  v-link="{ name: 'tag', params: {tagID: tag.url.replace('/topic/', '') }}" class="tag__item">{{ tag.url.replace('/topic/', '') }}</a>
            </span>
          </div>
        </div>
      </div>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.11&appId=292300460886432';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

      <div class="container">
        <div class="article__comments">
          <h3 class="text-left article__comments__title">Bình Luận</h3>
          <div class="fb-comments" data-href="https://css-vn.com/#!/blog/{{ blogID }}" data-numposts="10"></div>
        </div>
      </div>
    </div>
  </template>

  <script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/vue-resource.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="js/vue-router.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/app.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/script.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
