.article {

  &__image {
    display: block;
    line-height: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 50%;

    @include susy-media(desktop) {
      padding-top: 30%;
    }

    img {
      position: absolute;
      width: 5px;
      height: auto;
      opacity: 0;
      pointer-events: none;
    }
  }

  &__video {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    margin-bottom: 20px;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  &__content {
    font-size: rem(20px);
    padding: rem(10px 20px 0 20px);
    background-color: $white;
    overflow: hidden;

    @include susy-media(desktop) {
      padding: rem(10px 80px 0 80px);
    }

    .theme--dark > & {
      background-color: $black;
      color: $white;
    }

    .single & {
      padding: 20px 0;
      border: none;
    }
  }

  &__item {
    margin-bottom: rem(50px);
    transition: all .3s;
    overflow: hidden;

    .single & {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: rem(26px);
    margin: rem(20px 0);
    margin-top: rem(5px);
    font-weight: bold;

    @include susy-media(desktop) {
      font-size: rem(46px);
      line-height: 1;
    }
  }

  &__heading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    margin: 0;
    text-align: left;
    text-align: center;
    display: flex;
    align-items: center;
    color: $white;

    @include susy-media(desktop) {
      padding: rem(20px 80px);

      h1 {
        font-size: 3rem;
      }
    }
  }

  &__text {
    margin-bottom: rem(20px);

    p {
      margin-bottom: 0;
    }
  }

  &__meta {
    background-color: $gray;
    text-transform: uppercase;
    letter-spacing: 1;
    margin: rem(15px -20px 0 -20px);
    font-size: rem(18px);
    display: block;
    padding: rem(10px 20px);

    @include susy-media(desktop) {
      margin: rem(15px -80px 0 -80px);
      padding: rem(10px 80px);
    }

    .single & {
      margin: 0;
      padding: rem(10px 15px);
    }
  }

  &__comments {
    background: $white;
    padding: 20px 0;
    text-align: center;

    &__title {
      border-bottom: 2px dashed #ddd;
      border-top: 2px dashed #ddd;
      padding: 10px 0;
    }

    iframe {
      max-width: 100%;
    }
  }
}
