.feature-baner {
  padding: 30px 0;

  @include susy-media(desktop) {
    padding: 180px 0 100px 0;
  }

  &__title {
    color: $blue;
    font-size: rem(30px);

    @include susy-media(desktop) {
      font-size: rem(40px);
    }
  }
}
